.selectedPage {
  font-weight: bold;
}
/* .pages {
  cursor: pointer;
  margin: 0 2px;
  background: radial-gradient(rgb(185, 235, 255), white);
} */
.paginatorWrap {
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  border-radius: 5px;
  background: linear-gradient(rgb(201, 226, 255), rgb(250, 253, 255));
}
.paginatorWrap span {
  display: inline-block;
  border-right: 1px solid lightgrey;
  min-width: 18px;
  max-width: 40px;
  text-align: center;
  padding: 0 2px;
}
.paginatorWrap span:last-of-type {
  border-right: none;
}
.paginatorWrap span:hover {
  background: rgb(199, 228, 255);
}
