.form-control {
}

.error textarea,
.error input {
  border: 1px solid red;
  outline: 0;
  border-radius: 1px;
  box-shadow: 0 0 2px red;
}
.error input:focus,
.error textarea:focus {
  outline: none !important;
}
.formControl span,
.summaryError {
  color: red;
  font-size: 14px;
}
