.header {
  grid-area: h;
  background: #264a78;
}

.header > img {
  height: 45px;
  margin: 7px 20px 0;
  filter: invert(1);
  float: left;
}
.header .name {
  color: white;
  float: left;
}
.loginBlock {
  float: right;
  margin-right: 20px;
  margin-top: 16px;
}
.loginBlock a {
  color: white;
}
.loginBlock p {
  margin: 0;
  color: rgba(208, 227, 255, 0.829);
}
