.profileInfo .image {
  height: 200px;
}
.profileInfo {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.conacts {
  margin-left: 50px;
}
.descriptionBlockForm p {
  margin-right: 10px;
}

.fieldContainer {
  display: flex;
  align-items: center;
}
.fieldContainer p {
  margin: 10px 10px 10px 0;
}
