.item {
    display: flex;
}
.item .img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 25px;
}
.item p {
    margin: 0;
    margin-top: 10px;
}
img.like {
    height: 15px;
}
/* .likeBlock {
} */
.postBlock {
    margin-bottom: 10px;

    margin-left: 10px;
}
.likeBlock {
    margin-top: 5px;
}
.likeBlock span {
    margin-left: 2px;
}
