.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 5px;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr 40px;
  grid-template-areas:
    "h h"
    "n c" "f f";
}
.app-wrapper-content {
  grid-area: c;
}
.footer {
  grid-area: f;
  background: #264a78;
  color: white;
}
